.overview{
    background-color: white;
    width: 400px;
    height: 237px;
    margin-top: 2.8%;
   margin-left: 20%;
   border-radius: 8px;
}
.box{
    color: #EAEBEE;
    width: 400px;
    height: 237px;
    display: inline-block;
}