.overview {
    background-color: #ffff;
    width: 350px;
    height: 280px;
    border-radius: 8px;
    margin-top: 2%;
    margin-left: 13%;

}

.title {
    color: #141522;
    font-family: 'Plus Jakarta Sans',sans-serif;
    font-size: 18px;
    padding-left: 9%;
    padding-top: 6%;
    font-size: 1.5rem;
    font-family: 'Plus Jakarta Sans',sans-serif;

}

.box {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;



}

.uservend {
    display: flex;
    gap: 20px;
    width: 100%;
    .user {
        background-color: #EAEBEE;
        border-radius: 8px;
        width: 150px;
        padding: 10px;
        display: flex;
        align-items: center;
        align-items: flex-end;
        justify-content: space-between;
        .left_block{
            display: flex;
            flex-direction: column;
            gap: 10px;
            .icon_overview {
                background-color: #2B3651;
                border-radius: 2px;
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .right_block{
            transform: translateY(5px);
            span{
                color: #2b3651;
                font-weight: bold;
                font-size: 40px;
                font-family: 'Plus Jakarta Sans',sans-serif;
            }
        }
    }
}
.catprod{
    display: flex;
    gap: 20px;
  
    width: 100%;
    padding-top: 20px;
    .user {
        background-color: #EAEBEE;
        border-radius: 8px;
        width: 150px;
        padding: 10px;
        display: flex;
        align-items: center;
        align-items: flex-end;
        justify-content: space-between;
        .left_block{
            display: flex;
            flex-direction: column;
            gap: 10px;
            .icon_overview {
                background-color: #2B3651;
                border-radius: 3px;
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .right_block{
            transform: translateY(5px);
            span{
                color: #2b3651;
                font-weight: bold;
                font-size: 40px;
                font-family: 'Plus Jakarta Sans',sans-serif;
            }
        }
    }

}


