.logs {
    background-color: white;
    width: 1038px;
    height: 362px;
    margin-top: 5%;
    margin-left: 10%;
    border-radius: 8px;

    .row {
        padding-top: 3%;
        .titlelog {
            color: #141522;
            font-family: 'Plus Jakarta Sans', sans-serif;
            font-size: 18px;
            padding-left: 5%;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 700;



        }

        .row0 {
            display: flex;
            gap: 45rem;
           
            .iconbox{
                display: flex;
                background-color: #F5F5F7;
                border-radius: 4px;
                
               
            
                .List {
                   
                    width: 110px;
                    height: 40px;
                    border-radius: 8px;
                    display: flex;
                    gap: 1rem;
                    padding-top: 5%;
                    padding-left: 8%;
                    font-family:'Plus Jakarta Sans sans-serif';
               
                }
                .icon{
                    color: #141522;
                    padding-right: 2%;
                    padding-top: 5%;
              
                  


                }
    

            }
           

        }
        .row1{
            display: flex;
            gap:3rem;
            
            
        .item1 {
            margin-top: 4%;
            margin-left: 5%;
            background-color: #EFF6E9;
            color: #25C78B;
            height: 30px;
            width: 70px;
            border-radius: 4px;
            padding-top: 0.5%;
            padding-left: 0.5%;

        }
        .item{
            color: #9C9CA4;
            font-family:  'Plus Jakarta Sans sans-serif';
            margin-top: 4.6%;


        }
        .id{
            background-color: #F6F6F4;
            width: 62px;
            height: 30px;
            color: #69645F;
            border-radius: 4px;
            margin-top: 4%;
            padding-top: 0.5%;
            padding-left: 0.5%;
            
        
        }
        .createdby{
            color: #9C9CA4;
            font-family:  'Plus Jakarta Sans ,sans-serif';
            margin-top: 4.6%;

        }
        .person{
            background-color: #F6F6F4;
            width: 62px;
            height: 30px;
            color: #69645F;
            border-radius: 4px;
            margin-top: 4%;
            padding-top: 0.5%;
            padding-left: 0.5%;

        }

        }
        .row2{
            display: flex;
            gap: 3rem;
            
        .item2 {
            margin-top: 4%;
            margin-left: 5%;
            background-color: #FFF4F3;
            color: #DB5962;
            height: 30px;
            width: 70px;
            border-radius: 4px;
            padding-top: 0.5%;
            padding-left: 0.5%;


        }
        .item{
            color: #9C9CA4;
            font-family:  'Plus Jakarta Sans sans-serif';
            margin-top: 4.6%;


        }
        .id{
            background-color: #F6F6F4;
            width: 62px;
            height: 30px;
            color: #69645F;
            border-radius: 4px;
            margin-top: 4%;
            padding-top: 0.5%;
            padding-left: 0.5%;
            
        
        }
        .createdby{
            color: #9C9CA4;
            font-family:  'Plus Jakarta Sans sans-serif';
            margin-top: 4.6%;

        }
        .person{
            background-color: #F6F6F4;
            width: 62px;
            height: 30px;
            color: #69645F;
            border-radius: 4px;
            margin-top: 4%;
            padding-top: 0.5%;
            padding-left: 0.5%;

        }
        


        }

       
        .row3{
            display: flex;
            gap: 3rem;
            

        .item3 {
            margin-top: 4%;
            margin-left: 5%;
            background-color: #FFF4F3;
            color: #DB5962;
            height: 30px;
            width: 70px;
            border-radius: 4px;
            padding-top: 0.5%;
            padding-left: 0.5%
        }
        .item{
            color: #9C9CA4;
            font-family:  'Plus Jakarta Sans sans-serif';
            margin-top: 4.6%;


        }
        .id{
            background-color: #F6F6F4;
            width: 62px;
            height: 30px;
            color: #69645F;
            border-radius: 4px;
            margin-top: 4%;
            padding-top: 0.5%;
            padding-left: 0.5%;
            
        
        }
        .createdby{
            color: #9C9CA4;
            font-family:  'Plus Jakarta Sans sans-serif';
            margin-top: 4.6%;

        }
        .person{
            background-color: #F6F6F4;
            width: 115px;
            height: 30px;
            color: #69645F;
            border-radius: 4px;
            margin-top: 4%;
            padding-top: 0.5%;
            padding-left: 0.5%;

        }
       


        }
        .row4{
            display: flex;
            gap: 3rem;
            
            

        .item4 {
            margin-top: 4%;
            margin-left: 5%;
            background-color:
                #EAF8FF;
            color:
                #04A4F4;
            height: 30px;
            width: 70px;
            border-radius: 4px;
            padding-top: 0.5%;
            padding-left: 0.5%
        }

        
        .item{
            color: #9C9CA4;
            font-family:  'Plus Jakarta Sans sans-serif';
            margin-top: 4.6%;


        }
        .id{
            background-color: #F6F6F4;
            width: 62px;
            height: 30px;
            color: #69645F;
            border-radius: 4px;
            margin-top: 4%;
            padding-top: 0.5%;
            padding-left: 0.5%;
            
        
        }
        .createdby{
            color: #9C9CA4;
            font-family:  'Plus Jakarta Sans sans-serif';
            margin-top: 4.6%;

        }
        .person{
            background-color: #F6F6F4;
            width: 115px;
            height: 30px;
            color: #69645F;
            border-radius: 4px;
            margin-top: 4%;
            padding-top: 0.5%;
            padding-left: 0.5%;

        }

        }


        .hr {
            border-bottom: 3px solid #2f2f83;
            height: 400px;
            width: 970px;
            margin-left: 3%;
            margin-top: 5%;

            padding-top: 2%;



        }
    }


}