.product {
    background-color: white;
    width: 380px;
    height: 280px;
    margin-top: 2%;
    border-radius: 8px;
    margin-left: 5%;
    display: flex;
    flex-direction: column;

    .dougbox {
        display: flex;
        width: 40vh;
        transform: scale(0.8);
        margin-left: 1%;
        margin-top: 2%;
        gap: 1rem;
     

        

        }
        .Colors {
            padding-top: 25%;
            padding-right: 40%;


            .prt1 {
                display: flex;
                

            }

            .Blue {
                border-width: 3px;
                border-radius: 50%;
                background-color: #2B3651;
                width: 30px;
                height: 30px;
             

            }

            .sold {
                color: #141522;
                font-family: 'Plus Jakarta Sans', sans-serif;
                font-size: 20px;
                text-align: right;
                padding-left: 5%;

            }

            .prt2 {

                display: flex;
                margin-top: 20%;
             
          
            

            }

            .Greey {
                background-color: #D4C9AE;
                border-width: 3px;
                border-radius: 50%;
                width: 30px;
                height: 30px;
             
                
                



            }

            .stand {
                color: #141522;
                font-family: 'Plus Jakarta Sans', sans-serif;
                font-size: 20px;
                margin-right: 1%;
               

               
            
                


            }





    }




}