.product {
    background-color: white;
    width: 350px;
    height: 280px;
    margin-top: 2%;
    border-radius: 8px;
    margin-left: 5%;
    display: flex;
    flex-direction: column;

    .dougbox {
        display: flex;
        width: 40vh;
        height: 180px;
        margin-left: 2%;
        margin-top: 5%;
        
     

        

        }
        .Colors {
            padding-top: 30%;
            padding-left: 5%;
            
           


            .prt1 {
                display: flex;
                font-size: 12px;
                gap: 0.5rem;
                
                 
               
               
                

            }

            .Blue {
                border-width: 3px;
                border-radius: 50%;
                background-color: #2B3651;
                width: 10px;
                height: 10px;
                
             

            }

            .sold {
                color: #141522;
                font-family: 'Plus Jakarta Sans', sans-serif;
                font-size: 10px;
                text-align: right;
                
               
            }

            .prt2 {

                display: flex;
                margin-top: 20%;
                gap: 0.5rem;
             
             
            }

            .Greey {
                background-color: #D4C9AE;
                border-radius: 50%;
                width: 10px;
                height: 10px;
                
            }

            .stand {
                color: #141522;
                font-family: 'Plus Jakarta Sans', sans-serif;
                font-size: 10px;
                
               
            }





    }




}