.App {
  display: flex;
  width: 100%;
  background-color: #f5f5f7;
  .leftside {
    width: 18rem;
    background-color: #fff;
  }
  .rightside {
    width: calc(100vw - 18rem);
    @media (max-width: 1300px) {
      min-width: 69rem;
    }
  }
}
